/* div{
    height: 190px;
    width: 140px;
    border: 1px solid black;
    background-color: blueviolet;
    text-align: center;
} */


.content{
    color: red;

}

.newclass{
    background-color: yellow;
}